.new {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  padding: 10px;
  
 
}


.navbar-brand a, .navbar-list h4 a {
  color: white;
  text-decoration: none;
  
  ;
}


.navbar-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  
}


.navbar-list li {
  margin: 0 15px;
  
}


.navbar-list h4 a:hover {
  text-decoration: underline;
  
  
}

.navbar-logo-container {
  display: flex;
  justify-content: center;
  width: 100%; 
  padding: 0; 
  box-sizing: border-box;
}


.vjit {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 500px;
  
  color: brown;
  display: block; 
  font-family:cursive ;
}



.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: antiquewhite;
}

